body {
  background-color: black;
  color: white;
}

body:not(.finished) .finished {
  display: none
}

body.finished .ongoing {
  display: none;
}

div.stat_wrapper:not(:first-of-type) {
  margin-top: 1rem;
}

span.description {
  display: inline-block;
  width: 15rem;
}

div.notice {
  margin-top: 2rem;
  text-align: center;
}

#figure {
  min-height: 600px;
}

#indicator {
  position: fixed;
  width: 100px;
  height: 100px;
  background-color: green;

  display: none;
  align-items: center;
  justify-content: center;
  color: yellow;
  font-size: 50px;


  left: calc(50vw - 50px);
  top: calc(50vh - 50px);
  animation: rotation 2s infinite linear;

}

#indicator.loading {
  display: flex;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@media (min-width: 800px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media (max-width: 800px) {
  span.description {
    display: block;
  }

  span.value {
    margin-left: 1rem;
  }
}